<a href="https://colab.research.google.com/github/irfixq/Avocado_King/blob/main/Avocado_King.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Avocado King - Price & Sales Prediction using python

In [1]:
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))
import numpy as np # linear algebra
print("NumPy version: {}". format(np.__version__))
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
print("pandas version: {}". format(pd.__version__))
import matplotlib # collection of functions for scientific and publication-ready visualization
print("matplotlib version: {}". format(matplotlib.__version__))
import matplotlib.pyplot as plt
%matplotlib inline
import warnings # ignore warnings
warnings.filterwarnings('ignore')

Python version: 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]
NumPy version: 1.19.5
pandas version: 1.1.5
matplotlib version: 3.2.2

There are 2 options to get the data, either from GitHub or Google Drive.
In this case, I prefer to use Git Clone since it will be easier for user to access the repo.

In [2]:
## Clone repo from GitHub

! git clone 'https://github.com/irfixq/Avocado_King'

fatal: destination path 'Avocado_King' already exists and is not an empty directory.

In [ ]:
## Mount Google Drive to get data
## make sure you uploaded the folder into your Google Drive first

#from google.colab import drive 
#drive.mount('/content/drive')

## Data Pre-Processing

In [3]:
## get working directory
! pwd

## list all folders in working directory
! ls

/content
Avocado_King  drive  sample_data

In [4]:
## change working directory to github folder
import os
os.chdir('/content/Avocado_King')

In [5]:
## check working directory after change path
! pwd
! ls

/content/Avocado_King
Avocado_King.ipynb	   google-data.csv	     README.md
feature-explanations.xlsx  price-and-sales-data.csv

In [6]:
## see the shape of the dataset (rows, columns)
df_price = pd.read_csv('/content/Avocado_King/price-and-sales-data.csv')
df_price.shape

(25161, 13)

In [7]:
## see the dataset
df_price

            Date  AveragePrice  ...  year               region
0       1/4/2015          1.22  ...  2015               Albany
1       1/4/2015          1.00  ...  2015              Atlanta
2       1/4/2015           NaN  ...  2015  BaltimoreWashington
3       1/4/2015          1.01  ...  2015                Boise
4       1/4/2015          1.02  ...  2015               Boston
...          ...           ...  ...   ...                  ...
25156  7/14/2019          1.66  ...  2019             Syracuse
25157  7/14/2019          1.06  ...  2019                Tampa
25158  7/14/2019          1.99  ...  2019              TotalUS
25159  7/14/2019          2.33  ...  2019                 West
25160  7/14/2019          1.84  ...  2019     WestTexNewMexico

[25161 rows x 13 columns]

In [8]:
## see the shape of the google search data (rows, columns)
df_google = pd.read_csv('/content/Avocado_King/google-data.csv')
df_google.shape

(239, 7)

In [9]:
df_google

          Week  ...  organic avocado: (United States)
0     1/4/2015  ...                                10
1    1/11/2015  ...                                29
2    1/18/2015  ...                                27
3    1/25/2015  ...                                28
4     2/1/2015  ...                                42
..         ...  ...                               ...
234  6/30/2019  ...                                35
235   7/7/2019  ...                                42
236  7/14/2019  ...                                43
237  7/21/2019  ...                                49
238  7/28/2019  ...                                36

[239 rows x 7 columns]